<h1>Welcome traveler</h1>
<ais-instantsearch [config]="algoliaConfig">
    <ais-search-box></ais-search-box>
    <ais-current-refinements [clearsQuery]="true" [transformItems]="translate"></ais-current-refinements>
    
    <ais-hits>
      <ng-template let-hits="hits">
        <div class="album-grid">
            <div *ngFor="let album of hits">
              <app-product [album]="album" [hit]="album"></app-product>
            </div>
        </div>
      </ng-template>
    </ais-hits>
    <ais-pagination totalPages=20></ais-pagination>
</ais-instantsearch>