<a [routerLink]="['/product-list']" class="btn-back" href="#">
    <-
</a>
<article *ngIf="album != null" class="album-detail">
    <h2>{{ album.name }}</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
        <img src="{{album.images[1].url}}" alt="{{album.name}}">
        <div class="album-detail-quantity">
            <p>
                {{ totalAmount | currency }} USD
            </p>
            <div>
                <input type="number" formControlName="quantity">
                <button class="btn-rock">ADD TO CART</button>
            </div>
        </div>
    </form>
</article>