#message-box {
    border-radius: 8px;
    background-color: rgb(150, 150, 150);
    padding: 15px 30px;
    color: #000;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all ease-in-out .5s;
}